<ion-view>
    <ion-content>
        <div class="signupDiv">
            <div class="signuptopDiv">
                <p class="signinTitle">whomi
                    <span class="signinSpan">kart</span>
                </p>
            </div>
            <div>
                <form class="signupForm">
                    <p class="signinTitle">Billing Address</p>
                    <div class="list">
                        <div class="signupText">
                            <label class="item item-input item-floating-label  signin-label">
                                <span class="input-label">First Name</span>
                                <input type="text" class="signin-input" ng-model="user.first_name" placeholder="First Name">
                            </label>
                        </div>
                        <div class="signupText">
                            <label class="item item-input item-floating-label  signin-label">
                                <span class="input-label">Last Name</span>
                                <input type="text" class="signin-input" ng-model="user.last_name" placeholder="Last Name">
                            </label>
                        </div>
                        <div class="signupText">
                            <label class="item item-input item-floating-label  signin-label">
                                <span class="input-label">Company</span>
                                <input type="text" class="signin-input" ng-model="user.company" placeholder="Company">
                            </label>
                        </div>
                        <div class="signupText">
                            <label class="item item-input item-floating-label signin-label">
                                <span class="input-label">Email</span>
                                <input type="email" class="signin-input" ng-model="user.email" placeholder="Email">
                            </label>
                        </div>
                        <div class="signupText">
                            <label class="item item-input item-floating-label signin-label">
                                <span class="input-label">Phone</span>
                                <input type="number" class="signin-input" ng-model="user.phone" placeholder="Phone">
                            </label>
                        </div>
                        <div class="signupText">
                            <label class="item item-input item-floating-label signin-label">
                                <span class="input-label">Address 1</span>
                                <input type="text" class="signin-input" ng-model="user.address_1" placeholder="Address 1">
                            </label>
                        </div>
                        <div class="signupText">
                            <label class="item item-input item-floating-label signin-label">
                                <span class="input-label">Address 2</span>
                                <input type="text" class="signin-input" ng-model="user.address_2" placeholder="Address 2">
                            </label>
                        </div>
                        <div class="signupText">
                            <label class="item item-input item-floating-label signin-label">
                                <span class="input-label">City</span>
                                <input type="text" class="signin-input" ng-model="user.city" placeholder="City">
                            </label>
                        </div>
                        <div class="signupText">
                            <label class="item item-input item-floating-label signin-label">
                                <span class="input-label">State</span>
                                <input type="text" class="signin-input" ng-model="user.state" placeholder="State">
                            </label>
                        </div>
                        <div class="signupText">
                            <label class="item item-input item-floating-label signin-label">
                                <span class="input-label">Postal code</span>
                                <input type="text" class="signin-input" ng-model="user.postcode" placeholder="Postal code">
                            </label>
                        </div>
                        <div class="signupText">
                            <label class="item item-input item-floating-label signin-label">
                                <span class="input-label">Country</span>
                                <input type="text" class="signin-input" ng-model="user.country" placeholder="Country">
                            </label>
                        </div>
                    </div>
                    <p class="signinTitle">Shipping Address</p>
                    <div class="list">
                        <div class="signupText">
                            <label class="item item-input item-floating-label  signin-label">
                                <span class="input-label">First Name</span>
                                <input type="text" class="signin-input" ng-model="user.first_name" placeholder="First Name">
                            </label>
                        </div>
                        <div class="signupText">
                            <label class="item item-input item-floating-label  signin-label">
                                <span class="input-label">Last Name</span>
                                <input type="text" class="signin-input" ng-model="user.last_name" placeholder="Last Name">
                            </label>
                        </div>
                        <div class="signupText">
                            <label class="item item-input item-floating-label  signin-label">
                                <span class="input-label">Company</span>
                                <input type="text" class="signin-input" ng-model="user.company" placeholder="Company">
                            </label>
                        </div>
                        <div class="signupText">
                            <label class="item item-input item-floating-label signin-label">
                                <span class="input-label">Address 1</span>
                                <input type="text" class="signin-input" ng-model="user.address_1" placeholder="Address 1">
                            </label>
                        </div>
                        <div class="signupText">
                            <label class="item item-input item-floating-label signin-label">
                                <span class="input-label">Address 2</span>
                                <input type="text" class="signin-input" ng-model="user.address_2" placeholder="Address 2">
                            </label>
                        </div>
                        <div class="signupText">
                            <label class="item item-input item-floating-label signin-label">
                                <span class="input-label">City</span>
                                <input type="text" class="signin-input" ng-model="user.city" placeholder="City">
                            </label>
                        </div>
                        <div class="signupText">
                            <label class="item item-input item-floating-label signin-label">
                                <span class="input-label">State</span>
                                <input type="text" class="signin-input" ng-model="user.state" placeholder="State">
                            </label>
                        </div>
                        <div class="signupText">
                            <label class="item item-input item-floating-label signin-label">
                                <span class="input-label">Postal code</span>
                                <input type="text" class="signin-input" ng-model="user.postcode" placeholder="Postal code">
                            </label>
                        </div>
                        <div class="signupText">
                            <label class="item item-input item-floating-label signin-label">
                                <span class="input-label">Country</span>
                                <input type="text" class="signin-input" ng-model="user.country" placeholder="Country">
                            </label>
                        </div>
                    </div>
                    <button class="button signinButton" ng-click="doSignup(user)">Add Address</button>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>